/build
/src/main/res/drawable/photo_1.jpg
/src/main/res/drawable/photo_2.jpg
/src/main/res/drawable/photo_3.jpg
/src/main/res/drawable/photo_4.jpg
/src/main/res/drawable/photo_5.jpg
/src/main/res/drawable/photo_6.jpg
/src/main/res/drawable/photo_7.png
/src/main/res/drawable/photo_8.jpg
/src/main/res/drawable/photo_9.jpg
/src/main/res/drawable/photo_10.jpg
/src/main/res/drawable/photo_11.jpg
/src/main/res/drawable/photo_12.jpg
/src/main/res/drawable/photo_13.jpg
/src/main/res/drawable/photo_14.jpg
/src/main/res/drawable/photo_15.jpg
/src/main/res/drawable/photo_16.jpg
/src/main/res/drawable/photo_17.jpg
/src/main/res/drawable/photo_18.jpg
/src/main/res/drawable/photo_19.jpg
/src/main/res/drawable/photo_20.jpg
